* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hero-section {
  height: 100vh;
  background-image: url("../images/hero-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section .hero-title h1 {
  margin: 50px auto;
  width: 70%;
  text-align: center;
  color: white;
  font-size: 3.5vw;
  font-weight: 500;
  font-family: 'titan one', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

header .hamburger-container {
  height: 100%;
  width: 40px;
  margin-right: 50px;
  margin-top: 20px;
  display: none;
}

header .hamburger-container .line {
  height: 4px;
  width: 100%;
  background-color: white;
  margin: 8px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2vw;
  margin-left: 10px;
}

header .logo img {
  margin-right: 1vw;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  margin: 1vw;
  font-size: 1.2vw;
}

header ul li a {
  text-decoration: none;
  color: white;
}

.hero {
  font-family: 'titan one', cursive;
  position: absolute;
  width: 100%;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 500;
}

.hero .highlight {
  color: #E14300;
}

.hero p {
  color: white;
  font-size: 2.5vw;
  text-transform: uppercase;
  margin: 5px;
}

.hero button {
  color: white;
  background-color: #ff2f00;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 3px solid #fff;
  font-family: 'titan one', cursive;
  padding: 10px 75px;
  border-radius: 50px;
  font-size: 1.75vw;
  margin: 50px auto 0px auto;
  text-transform: uppercase;
  outline: none;
}

.hero button:hover {
  background-color: white;
  color: #ff2f00;
}

.note {
  background-color: #fffdd0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'roboto', sans-serif;
}

.note .note-inner {
  text-align: center;
  width: 50%;
  padding: 80px;
  font-size: 20px;
}

.note .note-inner p {
  font-size: 1.25vw;
  line-height: 2;
}

.about {
  height: 300px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../images/about.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/about.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.about .about-inner {
  text-align: center;
}

.about .about-inner .inner-upper {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-inner .inner-upper h2 {
  color: white;
  text-transform: uppercase;
  font-size: 2vw;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.about .about-inner .inner-upper .story-link {
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 47, 0, 0.8);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5vw;
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
  margin-top: 20px;
  font-weight: 600;
}

.about .about-inner .inner-upper .story-link:hover {
  color: #ff2f00;
}

.about .about-inner .about-hidden {
  line-height: 2;
  text-align: center;
}

.about .about-inner .about-hidden .about-hidden-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about-inner .about-hidden .about-hidden-inner .hidden-inner-left {
  width: 50%;
}

.about .about-inner .about-hidden .about-hidden-inner .hidden-inner-left p {
  font-size: 1.2vw;
  margin: 0 50px 35px auto;
  text-align: justify;
  text-transform: uppercase;
  font-family: 'roboto', sans-serif;
  width: 65%;
}

.about .about-inner .about-hidden .about-hidden-inner .hidden-inner-right {
  width: 50%;
  margin-left: 200px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .features-inner {
  width: 75%;
}

.features .features-inner .feature-1 {
  padding-top: 5vw;
}

.features .features-inner .feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.features .features-inner .feature-item .left {
  width: 50%;
}

.features .features-inner .feature-item .left h2 {
  font-family: 'roboto', sans-serif;
  text-align: right;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
  width: 100%;
}

.features .features-inner .feature-item .left ul {
  display: inline-block;
}

.features .features-inner .feature-item .left ul li {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
}

.right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.price-comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 5rem;
  width: 100%;
  background-color: #eeefff;
}

.price-comparison .price-column {
  background-color: white;
  -webkit-box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
          box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 375px;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  border-radius: 8px;
}

.price-comparison .price-column.popular {
  background-color: #b512bb;
  -webkit-box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
          box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
  color: white;
  margin-top: -1.5rem;
  padding-top: 3.5rem;
  margin-bottom: -1.5rem;
  padding-bottom: 3.5rem;
  position: relative;
}

.price-comparison .price-column.popular .divider {
  background-color: rgba(255, 255, 255, 0.1);
}

.price-comparison .price-column.popular .cta {
  background-color: white;
  color: rgba(52, 13, 135, 0.3);
}

.price-comparison .price-column:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.price-comparison .price-column:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.price-comparison .price-column .price-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.price-comparison .price-column .price-header .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 5rem;
}

.price-comparison .price-column .price-header .price .dollar-sign {
  font-size: 3rem;
  margin-top: .5rem;
  margin-right: .25rem;
}

.price-comparison .price-column .price-header .plan-name {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.price-comparison .price-column .divider {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.price-comparison .price-column .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem;
  font-size: 1.25rem;
}

.price-comparison .price-column .feature.inactive {
  color: #999;
  text-decoration: line-through;
}

.price-comparison .price-column .feature img {
  height: 1.1em;
  width: 1.1em;
  margin-right: .5rem;
}

.price-comparison .cta {
  border: none;
  background-color: rgba(52, 13, 135, 0.3);
  color: white;
  width: 100%;
  padding: .75rem 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 3rem;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.price-comparison .cta:hover, .price-comparison .cta:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.most-popular {
  position: absolute;
  top: .5rem;
  left: .5rem;
  right: .5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
}

.get-started {
  background: url("../images/photographer.jpg");
  background-position: bottom;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-started .get-started-inner button {
  color: white;
  background-color: #ff2f00;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 3px solid #fff;
  font-family: 'titan one', cursive;
  padding: 10px 75px;
  border-radius: 50px;
  font-size: 1.75vw;
  margin: 50px auto 0px auto;
  text-transform: uppercase;
  outline: none;
}

.get-started .get-started-inner button:hover {
  background-color: white;
  color: #ff2f00;
}

.footer {
  position: relative;
}

.footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.footer .footer-inner .contact-info .contact-phone, .footer .footer-inner .contact-info .contact-email {
  font-size: 20px;
  padding: 5px;
}

.footer .footer-inner .social i {
  margin: 10px;
}

.footer-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.contact-hero {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../images/contact-bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.contact-hero .contact-main {
  position: absolute;
  width: 60vw;
  height: 80vh;
  top: 50%;
  left: 65%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-hero .contact-main .contact-left {
  height: 100%;
  width: 35%;
}

.contact-hero .contact-main .contact-left .contact-left-top {
  margin-bottom: 20px;
  margin-top: 30px;
}

.contact-hero .contact-main .contact-left .contact-left-top h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.contact-hero .contact-main .contact-left .contact-left-top p {
  font-size: 24px;
}

.contact-hero .contact-main .contact-left .contact-left-phone, .contact-hero .contact-main .contact-left .contact-left-email, .contact-hero .contact-main .contact-left .contact-left-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 18px;
}

.contact-hero .contact-main .contact-left .contact-left-phone i, .contact-hero .contact-main .contact-left .contact-left-email i, .contact-hero .contact-main .contact-left .contact-left-location i {
  margin-right: 10px;
}

.contact-hero .contact-main .contact-left .contact-left-phone a, .contact-hero .contact-main .contact-left .contact-left-email a, .contact-hero .contact-main .contact-left .contact-left-location a {
  text-decoration: none;
  color: #ff2f00;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.contact-hero .contact-main .contact-left .contact-left-location {
  width: 70%;
  line-height: 1.5;
}

.contact-hero .contact-main .contact-right {
  height: 100%;
  width: 35%;
  margin-top: 30px;
  margin-left: 20px;
}

.contact-hero .contact-main .contact-right input[type=text], .contact-hero .contact-main .contact-right select, .contact-hero .contact-main .contact-right textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-hero .contact-main .contact-right textarea {
  height: 200px;
}

.contact-hero .contact-main .contact-right input[type=submit] {
  background-color: #ff2f00;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 30px;
  font-size: 18px;
}

.contact-hero .contact-main .contact-right input[type=checkbox] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-right: 10px;
}

.contact-hero .contact-main .contact-right input[type=submit]:hover {
  background-color: white;
  color: #ff2f00;
}

.social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-contact i {
  margin: 20px;
}

.social-contact i:hover {
  color: #ff2f00;
  cursor: pointer;
}

.input-red {
  background-color: #ff2f00;
  color: white;
  font-weight: bold;
}

.input-red::-webkit-input-placeholder {
  color: white;
}

.input-red:-ms-input-placeholder {
  color: white;
}

.input-red::-ms-input-placeholder {
  color: white;
}

.input-red::placeholder {
  color: white;
}
/*# sourceMappingURL=style.css.map */