@import './reset';
@import './variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btnStyle {
    color: white;
    background-color: #FC5835;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 3px solid #fff;

    &:hover {
        background-color: rgb(189, 49, 17);
    }
}

.hero-section {
    height: 100vh;
    background-image: url('/images/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        color: $secondaryColor;
        background-color: rgba(31, 45, 54, 0.664);
    
        .logo {
            display: flex;
            align-items: center;
            font-size: 1.2vw;
    
            img {
                margin-right: 1vw;
            }
        }

        ul {
            list-style: none;
            @include flexCenter();
        
            li {
                margin: 1vw;
                font-size: 1.2vw;
        
                a {
                    text-decoration: none;
                    color: $secondaryColor;
                }
            }
        }
    }
}

.hero {
    font-family: $fontFamily;
    position: absolute;
    width: 50%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
        color: white;
        font-size: 3vw;
        text-transform: uppercase;
        // padding: 50px;
        letter-spacing: 10px;
        // font-family: 'Montserrat Alternates', sans-serif;
        // font-family: 'Arima Madurai', cursive;
        // font-family: 'Laila', serif;
        font-family: 'Poiret One', cursive;
        margin-bottom: 30px;
    }

    h2 {
        color: $secondaryColor;
        font-size: 2vw;
        line-height: 1.35;
        // font-family: 'Dosis', sans-serif;
        font-family: 'Poiret One', cursive;
    }

    button {
        @include btnStyle();
        padding: 10px 75px;
        border-radius: 50px;
        font-size: 32px;
        font-weight: bold;
        margin: 50px auto 0px auto;
        text-transform: uppercase;
        outline: none;
    }
}

.note {
    background-color: rgb(233, 233, 233); // #FC5835
    display: flex;
    justify-content: center;
    align-items: center;

    .note-inner {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
        font-size: 20px;

        button {
            padding: 15px 50px;
            background-color: #FC5835;
            border: 0;
            outline: 0;
            color: white;
            font-weight: bold;
            font-size: 18px;
            cursor: pointer;
            transition: all .4s ease-in-out;
            &:hover {
                background-color: rgb(189, 49, 17);
            }
        }
    }
}

.about {
    height: 300px;
    color: white;
    background: url('./images/about.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    transition: height 1s ease-in-out;
    overflow: hidden;

    .about-inner {
        text-align: center;

        i {
            padding-top: 60px;
            color: #FC5835;
        }

        h2 {
            padding: 50px;
            color: #FC5835;
            text-transform: uppercase;
        }

        .story-link {
            font-family: $fontFamily;
            color: rgb(191,191,191);
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            transition: color .5s ease-in-out;
            &:hover {
                color: white;
            }
        }

        .about-hidden {
            margin-top: 60px;
            line-height: 2;
            text-align: center;

            .about-hidden-inner {
                p {
                    width: 35%;
                    margin: 0 auto;
                    font-size: 18px;
                    margin-bottom: 35px;
                }
            }

        }
    }
    
}

.features {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .features-inner {
        width: 75%;

        .feature-item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5rem;
            margin-top: 5rem;
            margin-bottom: 5rem;
    
            .left {
                width: 50%;
    
                h2 {
                    font-family: $fontFamily;
                    text-align: right;
                    font-size: 50px;
                    text-transform: uppercase;
                    margin-bottom: 40px;
                    width: 100%;
                }
    
                p {
                    text-align: right;
                    width: 75%;
                    margin-left: 25%;
                    line-height: 2;
                }
            }
        }
    }
}

.right {
    width: 50%;
    display: flex;
    justify-content: flex-start;

    img {
        
    }
}

.price-comparison {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 1rem;
    padding: 2rem;
    width: 100%;

    .price-column {
        background-color: white;
        box-shadow: 0 7px 30px rgba(52,31,97,0.1);
        padding: 2rem;
        flex-grow: 1;
        max-width: 375px;
        flex-basis: 0;
        border-radius: 8px;
        &.popular {
            background-color: #b512bb;
            box-shadow: 0 7px 30px rgba(52,13,135, 0.3);
            color: white;
            margin-top: -1.5rem;
            padding-top: 3.5rem;
            margin-bottom: -1.5rem;
            padding-bottom: 3.5rem;
            position: relative;

            .divider {
                background-color: rgba(white, .1);
            }

            .cta {
                background-color: white;
                color: rgba(52,13,135,0.3);
            }
        }
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .price-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: bold;

            .price {
                display: flex;
                font-size: 5rem;

                .dollar-sign {
                    font-size: 3rem;
                    margin-top: .5rem;
                    margin-right: .25rem;
                }
            }

            .plan-name {
                text-transform: uppercase;
                font-size: 1.5rem;
                margin-top: 1rem;
                margin-bottom: 0;
            }
        }

        .divider {
            height: 1px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.2);;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .feature {
            display: flex;
            align-items: center;
            margin: 1.5rem;
            font-size: 1.25rem;
            &.inactive {
                color: #999;
                text-decoration: line-through;
            }

            img {
                height: 1.1em;
                width: 1.1em;
                margin-right: .5rem;
            }
        }
    }

    .cta {
        border: none;
        background-color: rgba(52,13,135, 0.3);
        color: white;
        width: 100%;
        padding: .75rem 1rem;
        cursor: pointer;
        font-weight: bold;
        border-radius: 4px;
        margin-top: 3rem;
        transition: .1s ease-in-out;

        &:hover, &:focus {
            transform: scale(1.1);
        }
    }
}

.most-popular {
    position: absolute;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
}