@import './reset';
@import './variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btnStyle {
    color: white;
    background-color: $orangeBg;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 3px solid #fff;

    &:hover {
        background-color: white;
        color: rgb(255, 47, 0);
    }
}

html {
    scroll-behavior: smooth;
}

.hero-section {
    height: 100vh;
    background-image: url('/images/hero-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .hero-title {
        h1 {
            margin: 50px auto;
            width: 70%;
            text-align: center;
            color: white;
            font-size: 3.5vw;
            font-weight: 500;
            font-family: 'titan one', cursive;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 1.5;
        }
    }
}

header {
    display: flex;
    justify-content: space-around;
    color: $secondaryColor;

    .hamburger-container {
        height: 100%;
        width: 40px;
        margin-right: 50px;
        margin-top: 20px;
        display: none;

        .line {
            height: 4px;
            width: 100%;
            background-color: white;
            margin: 8px;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        font-size: 1.2vw;
        margin-left: 10px;

        img {
            margin-right: 1vw;
        }
    }

    ul {
        list-style: none;
        @include flexCenter();
    
        li {
            margin: 1vw;
            font-size: 1.2vw;
    
            a {
                text-decoration: none;
                color: $secondaryColor;
            }
        }
    }
}

.hero {
    font-family: 'titan one', cursive;
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 500;

    .highlight {
        color: #E14300;
    }

    p {
        color: white;
        font-size: 2.5vw;
        text-transform: uppercase;
        margin: 5px;
    }

    button {
        @include btnStyle();
        font-family: 'titan one', cursive;
        padding: 10px 75px;
        border-radius: 50px;
        font-size: 1.75vw;
        margin: 50px auto 0px auto;
        text-transform: uppercase;
        outline: none;
    }
}

.note {
    background-color: #fffdd0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', sans-serif;

    .note-inner {
        text-align: center;
        width: 50%;
        padding: 80px;
        font-size: 20px;

        p {
            font-size: 1.25vw;
            line-height: 2;
        }
    }
}

.about {
    height: 300px;
    color: white;
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url('./images/about.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    transition: height 1s ease-in-out;
    overflow: hidden;

    .about-inner {
        text-align: center;

        .inner-upper {
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            h2 {
                color: white;
                text-transform: uppercase;
                font-size: 1.5vw;
                font-family: $fontFamily;
                margin-bottom: 20px;
            }
    
            .story-link {
                font-family: $fontFamily;
                color: rgba(255, 47, 0, .8);
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1vw;
                transition: color .5s ease-in-out;
                margin-top: 20px;

                &:hover {
                    color: rgba(255, 47, 0, 1);
                }
            }
        }

        .about-hidden {
            line-height: 2;
            text-align: center;

            .about-hidden-inner {
                display: flex;

                .hidden-inner-left {
                    width: 50%;

                    p {
                        font-size: 1vw;
                        margin: 0 50px 35px auto;
                        text-align: justify;
                        text-transform: uppercase;
                        font-family: 'roboto', sans-serif;
                        width: 65%;
                    }
                }

                .hidden-inner-right {
                    width: 50%;
                    margin-left: 200px;
                }
            }

        }
    }
    
}

.features {
    // margin-top: 3rem;
    // margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .features-inner {
        width: 75%;

        .feature-1 {
            padding-top: 5vw;
        }

        .feature-item {
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 5rem;
            // margin-top: 5rem;
            // margin-bottom: 5rem;
            opacity: 0;
            transition: opacity 1s ease-in-out;
    
            .left {
                width: 50%;
    
                h2 {
                    font-family: 'roboto', sans-serif;
                    text-align: right;
                    font-size: 50px;
                    text-transform: uppercase;
                    margin-bottom: 40px;
                    width: 100%;
                }

                ul {
                    display: inline-block;
                    li {
                        font-family: 'roboto', sans-serif;
                        font-size: 24px;
                    }
                }
    
                // p {
                //     font-family: 'roboto', sans-serif;
                //     text-align: right;
                //     width: 75%;
                //     margin-left: 25%;
                //     line-height: 2;
                // }
            }
        }
    }
}

.right {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.price-comparison {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 2rem;
    width: 100%;

    .price-column {
        background-color: white;
        box-shadow: 0 7px 30px rgba(52,31,97,0.1);
        padding: 2rem;
        flex-grow: 1;
        max-width: 375px;
        flex-basis: 0;
        border-radius: 8px;
        &.popular {
            background-color: #b512bb;
            box-shadow: 0 7px 30px rgba(52,13,135, 0.3);
            color: white;
            margin-top: -1.5rem;
            padding-top: 3.5rem;
            margin-bottom: -1.5rem;
            padding-bottom: 3.5rem;
            position: relative;

            .divider {
                background-color: rgba(white, .1);
            }

            .cta {
                background-color: white;
                color: rgba(52,13,135,0.3);
            }
        }
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .price-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: bold;

            .price {
                display: flex;
                font-size: 5rem;

                .dollar-sign {
                    font-size: 3rem;
                    margin-top: .5rem;
                    margin-right: .25rem;
                }
            }

            .plan-name {
                text-transform: uppercase;
                font-size: 1.5rem;
                margin-top: 1rem;
                margin-bottom: 0;
            }
        }

        .divider {
            height: 1px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.2);;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .feature {
            display: flex;
            align-items: center;
            margin: 1.5rem;
            font-size: 1.25rem;
            &.inactive {
                color: #999;
                text-decoration: line-through;
            }

            img {
                height: 1.1em;
                width: 1.1em;
                margin-right: .5rem;
            }
        }
    }

    .cta {
        border: none;
        background-color: rgba(52,13,135, 0.3);
        color: white;
        width: 100%;
        padding: .75rem 1rem;
        cursor: pointer;
        font-weight: bold;
        border-radius: 4px;
        margin-top: 3rem;
        transition: .1s ease-in-out;

        &:hover, &:focus {
            transform: scale(1.1);
        }
    }
}

.most-popular {
    position: absolute;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
}

.get-started {
    background: url('images/photographer.jpg');
    background-position: bottom;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .get-started-inner {
        button {
            @include btnStyle();
            font-family: 'titan one', cursive;
            padding: 10px 75px;
            border-radius: 50px;
            font-size: 1.75vw;
            margin: 50px auto 0px auto;
            text-transform: uppercase;
            outline: none;
        }
    }
}

.footer {
    position: relative;

    .footer-inner {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto;
        padding: 50px;

        .contact-info {

            .contact-phone, .contact-email {
                font-size: 20px;
                padding: 5px;
            }

        }

        .social {
            i {
                margin: 10px;
            }
        }
    }
}

.footer-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.contact-hero {
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(rgba(0, 0, 0, .3),rgba(0, 0, 0, .8)), url('images/contact-bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;

    .contact-main {
        position: absolute;
        width: 60vw;
        height: 80vh;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;

        .contact-left {
            height: 100%;
            width: 35%;

            .contact-left-top {
                margin-bottom: 20px;
                margin-top: 30px;

                h1 {
                    font-size: 48px;
                    margin-bottom: 10px;
                }
    
                p {
                    font-size: 24px;
                }
            }

            .contact-left-phone, .contact-left-email, .contact-left-location {
                display: flex;
                align-items: center;
                padding: 10px;
                font-size: 18px;

                i {
                    margin-right: 10px;
                }

                a {
                    text-decoration: none;
                    color: rgb(255, 47, 0);
                    margin-left: 10px;
                    font-weight: bold;
                    font-size: 18px;
                }
            }

            .contact-left-location {
                width: 70%;
                line-height: 1.5;
            }
        }

        .contact-right {
            height: 100%;
            width: 35%;
            margin-top: 30px;
            margin-left: 20px;

            input[type=text], select, textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
              }

            textarea {
                height: 200px;
            }

              input[type=submit] {
                background-color: rgb(255, 47, 0);
                color: white;
                padding: 12px 30px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-weight: bold;
                margin-top: 30px;
                font-size: 18px;
              }

              input[type=checkbox] {
                  transform: scale(1.5);
                  margin-right: 10px;
              }

              input[type=submit]:hover {
                background-color: white;
                color: rgb(255,47,0);
              }
        }
    }
}

.social-contact {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        margin: 20px;
        &:hover {
            color: rgb(255,47,0);
            cursor: pointer;
        }
    }
}

.input-red {
    background-color: #ff2f00;
    color: white;
    font-weight: bold;
  }
  
  .input-red::placeholder {
    color: white;
  }