* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-section {
  height: 100vh;
  background-image: url("/images/hero-3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero-section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  color: white;
}

.hero-section header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2vw;
}

.hero-section header .logo img {
  margin-right: 1vw;
}

.hero-section header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section header ul li {
  margin: 1vw;
  font-size: 1.2vw;
}

.hero-section header ul li a {
  text-decoration: none;
  color: white;
}

.hero {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero h1 {
  color: white;
  font-size: 3vw;
  text-transform: uppercase;
  padding: 50px;
  letter-spacing: 10px;
}

.hero h2 {
  color: white;
  font-size: 20px;
  width: 75%;
  margin: 0 auto;
  line-height: 2;
}

.hero button {
  color: white;
  background-color: #ff9d00;
  cursor: pointer;
  border-radius: 50px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 3px solid #fff;
  padding: 10px 75px;
  border-radius: 50px;
  font-size: 32px;
  font-weight: bold;
  margin: 50px auto 0px auto;
}

.hero button:hover {
  background-color: #ff5e00;
  color: black;
}

.note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.note p {
  width: 50%;
  text-align: center;
  padding: 50px;
  line-height: 3;
}

.features {
  background-color: lightgray;
}

.features .feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.features .feature-item .left {
  width: 50%;
}

.features .feature-item .left h2 {
  text-align: center;
}

.features .feature-item .left p {
  width: 50%;
  margin: 0 auto;
  line-height: 2;
}

.right {
  width: 50%;
  background-color: gray;
}

.right .inner-image {
  background: url("/images/");
}

.pricing {
  padding: 20px;
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .pricing-container {
  background-color: #fff;
  width: 85%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .pricing-container .pricing-item {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pricing .pricing-container .pricing-item .pricing-item-name {
  font-size: 32px;
  border: 2px solid lightgray;
}

.pricing .pricing-container .pricing-item .pricing-item-list-container {
  border: 2px solid lightgray;
  padding: 10px;
}

.pricing .pricing-container .pricing-item .pricing-item-list-container ul {
  list-style-position: inside;
}

.pricing .pricing-container .pricing-item .pricing-item-button {
  color: white;
  background-color: #ff9d00;
  cursor: pointer;
  border-radius: 50px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 3px solid #fff;
}

.pricing .pricing-container .pricing-item .pricing-item-button:hover {
  background-color: #ff5e00;
  color: black;
}
/*# sourceMappingURL=style.css.map */