* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-section {
  height: 100vh;
  background-image: url("./images/hero-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.hero-section header .hamburger-container {
  height: 100%;
  width: 40px;
  margin-right: 50px;
  margin-top: 20px;
}

.hero-section header .hamburger-container .line {
  height: 4px;
  width: 100%;
  background-color: white;
  margin: 8px;
}

.hero-section header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2vw;
  margin-left: 10px;
}

.hero-section header .logo img {
  margin-right: 1vw;
}

.hero-section header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section header ul li {
  margin: 1vw;
  font-size: 1.2vw;
}

.hero-section header ul li a {
  text-decoration: none;
  color: white;
}

.hero-section .hero-title h1 {
  position: absolute;
  top: 120px;
  left: 400px;
  width: 70%;
  text-align: center;
  color: white;
  font-size: 3.5vw;
  font-weight: 500;
  font-family: 'titan one', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
}

.hero {
  font-family: 'titan one', cursive;
  position: absolute;
  width: 100%;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 500;
}

.hero p {
  color: white;
  font-size: 2.5vw;
  text-transform: uppercase;
  margin: 5px;
}

.hero button {
  color: white;
  background-color: #ff2f00;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 3px solid #fff;
  font-family: 'titan one', cursive;
  padding: 10px 75px;
  border-radius: 50px;
  font-size: 1.75vw;
  margin: 50px auto 0px auto;
  text-transform: uppercase;
  outline: none;
}

.hero button:hover {
  background-color: white;
  color: #ff2f00;
}

.note {
  background-color: #fffdd0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'titan one', cursive;
}

.note .note-inner {
  text-align: center;
  width: 50%;
  padding: 30px;
  font-size: 20px;
}

.note .note-inner p {
  font-size: 1.25vw;
}

.note .note-inner p:nth-child(4) {
  line-height: 3;
}

.note .note-inner h2 {
  margin: 2vw;
  font-size: 2vw;
}

.about {
  height: 300px;
  color: white;
  background: url("./images/about.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.about .about-inner {
  text-align: center;
}

.about .about-inner .inner-upper {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-inner .inner-upper h2 {
  color: white;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.about .about-inner .inner-upper .story-link {
  font-family: "Montserrat", sans-serif;
  color: #bfbfbf;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1vw;
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
  margin-top: 20px;
}

.about .about-inner .inner-upper .story-link:hover {
  color: white;
}

.about .about-inner .about-hidden {
  line-height: 2;
  text-align: center;
}

.about .about-inner .about-hidden .about-hidden-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about-inner .about-hidden .about-hidden-inner .hidden-inner-left {
  width: 50%;
}

.about .about-inner .about-hidden .about-hidden-inner .hidden-inner-left p {
  font-size: 1vw;
  margin: 0 50px 35px auto;
  text-align: justify;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  width: 65%;
}

.about .about-inner .about-hidden .about-hidden-inner .hidden-inner-right {
  width: 50%;
  margin-left: 50px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .features-inner {
  width: 75%;
}

.features .features-inner .feature-1 {
  padding-top: 5vw;
}

.features .features-inner .feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.features .features-inner .feature-item .left {
  width: 50%;
}

.features .features-inner .feature-item .left h2 {
  font-family: "Montserrat", sans-serif;
  text-align: right;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
  width: 100%;
}

.features .features-inner .feature-item .left p {
  text-align: right;
  width: 75%;
  margin-left: 25%;
  line-height: 2;
}

.right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.price-comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 2rem;
  width: 100%;
}

.price-comparison .price-column {
  background-color: white;
  -webkit-box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
          box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 375px;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  border-radius: 8px;
}

.price-comparison .price-column.popular {
  background-color: #b512bb;
  -webkit-box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
          box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
  color: white;
  margin-top: -1.5rem;
  padding-top: 3.5rem;
  margin-bottom: -1.5rem;
  padding-bottom: 3.5rem;
  position: relative;
}

.price-comparison .price-column.popular .divider {
  background-color: rgba(255, 255, 255, 0.1);
}

.price-comparison .price-column.popular .cta {
  background-color: white;
  color: rgba(52, 13, 135, 0.3);
}

.price-comparison .price-column:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.price-comparison .price-column:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.price-comparison .price-column .price-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.price-comparison .price-column .price-header .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 5rem;
}

.price-comparison .price-column .price-header .price .dollar-sign {
  font-size: 3rem;
  margin-top: .5rem;
  margin-right: .25rem;
}

.price-comparison .price-column .price-header .plan-name {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.price-comparison .price-column .divider {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.price-comparison .price-column .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem;
  font-size: 1.25rem;
}

.price-comparison .price-column .feature.inactive {
  color: #999;
  text-decoration: line-through;
}

.price-comparison .price-column .feature img {
  height: 1.1em;
  width: 1.1em;
  margin-right: .5rem;
}

.price-comparison .cta {
  border: none;
  background-color: rgba(52, 13, 135, 0.3);
  color: white;
  width: 100%;
  padding: .75rem 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 3rem;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.price-comparison .cta:hover, .price-comparison .cta:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.most-popular {
  position: absolute;
  top: .5rem;
  left: .5rem;
  right: .5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
}
/*# sourceMappingURL=style.css.map */
